@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Courgette&family=Noto+Sans+KR:wght@400;900&family=Playfair+Display&display=swap');

html{
    font-size: 14px;
}

body{
    overflow-x: hidden;
    background-color: white;
}
