@charset 'utf-8';

.contents{
    max-width: 1000px;
    margin: 0 auto;
}

.product-Name{
    border-bottom: 1px solid #ddd;
}

.product-Name,.contents{
    padding: 5px 0;
}

.product-Name h1{
    margin-left: 0.5em;
    margin-right: auto;
}

.section{
    padding-top: 50vh;
}

#section-0 h1{
    font-size: 4rem;
    text-align: center;
}

.image-message{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    font-size: 2.5rem;
    margin:5px 0;
}

.image-message p{
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}